In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import pymysql                        
from sqlalchemy import create_engine  

from getpass import getpass

In [2]:
password = getpass()

 ········

In [3]:
#connecting to MySQL airline database:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/airlines'
engine = create_engine(connection_string)

The main focus of this notebook will be visualization, I will use it to produce the tables necessary for quality visualization in Tableau. I want to focus on the factors that makes an airline better meaning with higher overall rating compare to the others.

In [4]:
airlines_df = pd.read_sql_query('SELECT * FROM airlines.airlines', engine)
airlines_df

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,departure_place,arrival_place,delay_cancellation,flight_date,review_date
0,AB Aviation,9.0,1,Unknown,Solo Leisure,Economy Class,4.0,5.00,4.00,4.00,2.15,1.81,3.0,yes,1 month,Moroni,Moheli,0,November 2019,November 2019
1,AB Aviation,1.0,1,Others,Solo Leisure,Economy Class,2.0,2.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Moroni,Anjouan,0,June 2019,June 2019
2,AB Aviation,1.0,1,Others,Solo Leisure,Economy Class,2.0,1.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Anjouan,Dzaoudzi,0,June 2019,June 2019
3,Adria Airways,1.0,0,Unknown,Solo Leisure,Economy Class,1.0,1.00,2.56,1.00,2.15,1.81,1.0,no,1 month,Frankfurt,Pristina,1,September 2019,September 2019
4,Adria Airways,1.0,1,Unknown,Couple Leisure,Economy Class,1.0,1.00,1.00,1.00,1.00,1.00,1.0,no,1 month,Sofia,Amsterdam,1,September 2019,September 2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23847,ZIPAIR,1.0,0,Unknown,Couple Leisure,Economy Class,2.0,1.00,2.56,1.00,1.00,1.00,1.0,no,1 month,Bangkok,Tokyo,0,June 2022,July 2022
23848,ZIPAIR,1.0,1,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,2.36,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,0,June 2022,June 2022
23849,ZIPAIR,3.0,1,Unknown,Business,Economy Class,2.0,4.00,2.00,1.00,2.15,1.81,2.0,no,1 month,Bangkok,Tokyo,0,May 2022,May 2022
23850,ZIPAIR,6.0,1,Others,Business,Business Class,3.0,4.00,3.00,1.00,2.00,5.00,5.0,yes,1 month,Tokyo,Los Angeles,0,May 2022,May 2022
23851,ZIPAIR,1.0,1,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,1.00,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,0,May 2022,May 2022

In [5]:
#looking at the total number of airlines
airlines_df['airline_name'].value_counts(dropna=False)

airline_name
Jet Airways               100
Saudi Arabian Airlines    100
SilkAir                   100
flydubai                  100
LOT Polish Airlines       100
                         ...
EWA Air                     1
Iberojet                    1
Mack Air                    1
Ariana Afghan Airlines      1
KD Air                      1
Name: count, Length: 510, dtype: int64

We can see that there is a total of 510 airlines with a maximum number of reviews of 100. I'll consider that airlines with a number of reviews < 100 are not suitable for an in-depth analysis. From those airlines I then want to select the top15 based on average overall rating.

In [6]:
#Define SQL query:
query = '''SELECT airline_name, avg(overall_rating) AS avg_overall_rating, COUNT(airline_name) AS number_of_reviews FROM airlines.airlines
GROUP BY airline_name
HAVING COUNT(airline_name) =100
ORDER BY avg(overall_rating) DESC
LIMIT 15;'''

# Run SQL query and load data into a Pandas DataFrame
top_df = pd.read_sql_query(query, engine)
top_df
#majority of asian airlines are included in the top15

               airline_name  avg_overall_rating  number_of_reviews
0                QantasLink                5.91                100
1                 Dragonair                5.57                100
2     Royal Brunei Airlines                5.52                100
3                   SilkAir                5.20                100
4   China Southern Airlines                5.15                100
5              Bulgaria Air                5.07                100
6        Hong Kong Airlines                4.80                100
7          Virgin Australia                4.77                100
8                   Volotea                4.65                100
9            China Airlines                4.60                100
10               Korean Air                4.55                100
11          Thomson Airways                4.46                100
12              Germanwings                4.41                100
13                 Tigerair                4.41                100
14          Bangkok Airways                4.37                100

In [7]:
name=top_df['airline_name'].tolist()
airlines_df=airlines_df[airlines_df['airline_name'].isin(name)]
airlines_df

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,departure_place,arrival_place,delay_cancellation,flight_date,review_date
5514,Bangkok Airways,1.0,0,Unknown,Couple Leisure,Economy Class,4.0,5.00,5.00,5.0,2.00,1.81,5.0,yes,1 month,Bangkok,Trat,1,March 2024,April 2024
5515,Bangkok Airways,1.0,1,Unknown,Couple Leisure,Economy Class,2.0,2.00,2.00,1.0,2.15,1.81,1.0,no,1 month,Bangkok,Trat,1,March 2024,April 2024
5516,Bangkok Airways,8.0,1,A319,Solo Leisure,Economy Class,4.0,4.00,4.00,3.0,1.00,1.81,5.0,yes,1 month,Chiang Mai,Bangkok,0,April 2024,April 2024
5517,Bangkok Airways,1.0,1,Unknown,Couple Leisure,Economy Class,1.0,1.00,1.00,1.0,1.00,1.00,1.0,no,1 month,Phuket,Bangkok,0,March 2024,March 2024
5518,Bangkok Airways,3.0,1,Unknown,Couple Leisure,Economy Class,2.6,2.87,2.56,1.0,2.15,1.81,1.0,no,1 month,Ko Samui,Bangkok,1,February 2024,February 2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23143,Volotea,9.0,1,Others,Couple Leisure,Economy Class,5.0,5.00,2.56,5.0,5.00,1.81,5.0,yes,1 month,Nantes,Figari,0,April 2023,May 2023
23144,Volotea,1.0,0,Unknown,Business,Economy Class,3.0,2.00,2.56,1.0,2.15,1.81,2.0,no,1 month,Barcelona,Marseilles,0,May 2023,May 2023
23145,Volotea,9.0,1,A319,Couple Leisure,Economy Class,4.0,5.00,2.56,5.0,2.15,4.00,5.0,yes,1 month,Catania,Lourdes,0,May 2023,May 2023
23146,Volotea,8.0,1,A320,Family Leisure,Economy Class,4.0,4.00,2.56,4.0,2.15,1.81,4.0,yes,1 month,Rome,Olbia,0,April 2023,April 2023
23147,Volotea,1.0,1,Unknown,Business,Economy Class,5.0,5.00,2.56,5.0,5.00,1.81,5.0,yes,1 month,Asturias,Valencia,1,April 2023,April 2023

For visualization purposes I want to add a column country based on the departure place of the reviews. Indeed, customers will have most of their interactions with the airline company's staff at the departure airport (considering that the boarding process is done by the airline's crew) rather than the arrival airport.

In [8]:
#exporting top_airlines to SQL database:
airlines_df.to_sql('top15_airlines', con=engine, if_exists='replace', index=False)

1500

In [9]:
#adding the country column with a join (only keeping rows with a valid 'Country' value):
query_2= '''SELECT t.airline_name, t.overall_rating, t.verified, t.aircraft, t.type_of_traveller, t.seat_type, t.seat_comfort,
    t.cabin_staff_service, t.food_beverages, t.ground_service, t.inflight_entertainment, t.wifi_connectivity,
    t.value_for_money, t.recommended, t.time_before_review, t.delay_cancellation, t.flight_date, t.review_date, c.country 
FROM airlines.top15_airlines AS t
JOIN airlines.cities AS c 
ON t.departure_place=c.city_ascii;'''
airline_country = pd.read_sql_query(query_2, engine)
airline_country

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,delay_cancellation,flight_date,review_date,country
0,Korean Air,9.0,1,Unknown,Family Leisure,Economy Class,5.0,4.0,5.00,4.0,2.00,1.81,5.0,yes,1 month,0,March 2019,April 2019,Japan
1,Hong Kong Airlines,8.0,1,A330,Couple Leisure,Business Class,4.0,4.0,3.00,4.0,3.00,1.81,5.0,yes,2-3 months,0,June 2018,September 2018,Japan
2,Hong Kong Airlines,3.0,1,A320,Couple Leisure,Economy Class,2.0,3.0,1.00,2.0,1.00,1.81,3.0,no,1 month,1,March 2024,March 2024,Japan
3,China Airlines,1.0,1,Boeing 777-300,Solo Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,1.81,3.0,yes,1 month,0,October 2019,October 2019,Japan
4,Tigerair,2.0,0,A319,Family Leisure,Economy Class,3.0,3.0,2.56,1.0,2.15,1.81,1.0,no,1 month,0,June 2017,June 2017,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,Volotea,9.0,1,A320,Couple Leisure,Economy Class,5.0,4.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,0,January 2024,January 2024,United States
1459,Volotea,1.0,1,Unknown,Couple Leisure,Economy Class,5.0,5.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,0,July 2023,July 2023,United States
1460,Volotea,1.0,1,Unknown,Couple Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,5.00,5.0,yes,1 month,0,March 2024,March 2024,United States
1461,Volotea,1.0,1,Unknown,Couple Leisure,Economy Class,5.0,5.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,0,July 2023,July 2023,United States
1462,Volotea,1.0,1,Unknown,Couple Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,5.00,5.0,yes,1 month,0,March 2024,March 2024,United States

37 rows were lost due to invalid/unrecognized departure place. The rest of the EDA will be done in Tableau using the last dataframe as a source table.

* Formatting the data in correct types for easy use in Tableau

In [10]:
airline_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463 entries, 0 to 1462
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline_name            1463 non-null   object
 1   overall_rating          1463 non-null   float64
 2   verified                1463 non-null   int64
 3   aircraft                1463 non-null   object
 4   type_of_traveller       1463 non-null   object
 5   seat_type               1463 non-null   object
 6   seat_comfort            1463 non-null   float64
 7   cabin_staff_service     1463 non-null   float64
 8   food_beverages          1463 non-null   float64
 9   ground_service          1463 non-null   float64
 10  inflight_entertainment  1463 non-null   float64
 11  wifi_connectivity       1463 non-null   float64
 12  value_for_money         1463 non-null   float64
 13  recommended             1463 non-null   object
 14  time_before_review      1463 non-null   object
 15  delay_cancellation      1463 non-null   int64
 16  flight_date             1463 non-null   object
 17  review_date             1463 non-null   object
 18  country                 1463 non-null   object
dtypes: float64(8), int64(2), object(9)
memory usage: 217.3+ KB

In [11]:
#setting 'verified' and 'delay_cancellation' as boolean value:
airline_country['verified']=airline_country['verified'].astype('bool')
airline_country['delay_cancellation']=airline_country['delay_cancellation'].astype('bool')
airline_country

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,delay_cancellation,flight_date,review_date,country
0,Korean Air,9.0,True,Unknown,Family Leisure,Economy Class,5.0,4.0,5.00,4.0,2.00,1.81,5.0,yes,1 month,False,March 2019,April 2019,Japan
1,Hong Kong Airlines,8.0,True,A330,Couple Leisure,Business Class,4.0,4.0,3.00,4.0,3.00,1.81,5.0,yes,2-3 months,False,June 2018,September 2018,Japan
2,Hong Kong Airlines,3.0,True,A320,Couple Leisure,Economy Class,2.0,3.0,1.00,2.0,1.00,1.81,3.0,no,1 month,True,March 2024,March 2024,Japan
3,China Airlines,1.0,True,Boeing 777-300,Solo Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,1.81,3.0,yes,1 month,False,October 2019,October 2019,Japan
4,Tigerair,2.0,False,A319,Family Leisure,Economy Class,3.0,3.0,2.56,1.0,2.15,1.81,1.0,no,1 month,False,June 2017,June 2017,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,Volotea,9.0,True,A320,Couple Leisure,Economy Class,5.0,4.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,False,January 2024,January 2024,United States
1459,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,False,July 2023,July 2023,United States
1460,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,5.00,5.0,yes,1 month,False,March 2024,March 2024,United States
1461,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,False,July 2023,July 2023,United States
1462,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,5.00,5.0,yes,1 month,False,March 2024,March 2024,United States

In [12]:
#setting review date as date type and dropping flight date to keep only one time variable:
airline_country['review_date'] = pd.to_datetime(airline_country['review_date'], format = '%B %Y')
airline_country = airline_country.drop(['flight_date'], axis=1)
airline_country

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,delay_cancellation,review_date,country
0,Korean Air,9.0,True,Unknown,Family Leisure,Economy Class,5.0,4.0,5.00,4.0,2.00,1.81,5.0,yes,1 month,False,2019-04-01,Japan
1,Hong Kong Airlines,8.0,True,A330,Couple Leisure,Business Class,4.0,4.0,3.00,4.0,3.00,1.81,5.0,yes,2-3 months,False,2018-09-01,Japan
2,Hong Kong Airlines,3.0,True,A320,Couple Leisure,Economy Class,2.0,3.0,1.00,2.0,1.00,1.81,3.0,no,1 month,True,2024-03-01,Japan
3,China Airlines,1.0,True,Boeing 777-300,Solo Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,1.81,3.0,yes,1 month,False,2019-10-01,Japan
4,Tigerair,2.0,False,A319,Family Leisure,Economy Class,3.0,3.0,2.56,1.0,2.15,1.81,1.0,no,1 month,False,2017-06-01,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,Volotea,9.0,True,A320,Couple Leisure,Economy Class,5.0,4.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,False,2024-01-01,United States
1459,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,False,2023-07-01,United States
1460,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,5.00,5.0,yes,1 month,False,2024-03-01,United States
1461,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,2.56,5.0,2.15,1.81,5.0,yes,1 month,False,2023-07-01,United States
1462,Volotea,1.0,True,Unknown,Couple Leisure,Economy Class,5.0,5.0,5.00,4.0,5.00,5.00,5.0,yes,1 month,False,2024-03-01,United States

In [13]:
airline_country.to_csv('data/top_airlines.csv', index=False)

I'll also import the dataframe from MySQL and convert the type of the columns as seen previously (without selecting the top15 airlines) to be able to use it efficiently in Tableau.

In [14]:
airlines_df2 = pd.read_sql_query('SELECT * FROM airlines.airlines', engine)
airlines_df2

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,departure_place,arrival_place,delay_cancellation,flight_date,review_date
0,AB Aviation,9.0,1,Unknown,Solo Leisure,Economy Class,4.0,5.00,4.00,4.00,2.15,1.81,3.0,yes,1 month,Moroni,Moheli,0,November 2019,November 2019
1,AB Aviation,1.0,1,Others,Solo Leisure,Economy Class,2.0,2.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Moroni,Anjouan,0,June 2019,June 2019
2,AB Aviation,1.0,1,Others,Solo Leisure,Economy Class,2.0,1.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Anjouan,Dzaoudzi,0,June 2019,June 2019
3,Adria Airways,1.0,0,Unknown,Solo Leisure,Economy Class,1.0,1.00,2.56,1.00,2.15,1.81,1.0,no,1 month,Frankfurt,Pristina,1,September 2019,September 2019
4,Adria Airways,1.0,1,Unknown,Couple Leisure,Economy Class,1.0,1.00,1.00,1.00,1.00,1.00,1.0,no,1 month,Sofia,Amsterdam,1,September 2019,September 2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23847,ZIPAIR,1.0,0,Unknown,Couple Leisure,Economy Class,2.0,1.00,2.56,1.00,1.00,1.00,1.0,no,1 month,Bangkok,Tokyo,0,June 2022,July 2022
23848,ZIPAIR,1.0,1,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,2.36,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,0,June 2022,June 2022
23849,ZIPAIR,3.0,1,Unknown,Business,Economy Class,2.0,4.00,2.00,1.00,2.15,1.81,2.0,no,1 month,Bangkok,Tokyo,0,May 2022,May 2022
23850,ZIPAIR,6.0,1,Others,Business,Business Class,3.0,4.00,3.00,1.00,2.00,5.00,5.0,yes,1 month,Tokyo,Los Angeles,0,May 2022,May 2022
23851,ZIPAIR,1.0,1,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,1.00,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,0,May 2022,May 2022

In [15]:
#setting 'verified' and 'delay_cancellation' as boolean value:
airlines_df2['verified']=airlines_df2['verified'].astype('bool')
airlines_df2['delay_cancellation']=airlines_df2['delay_cancellation'].astype('bool')
airlines_df2

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,departure_place,arrival_place,delay_cancellation,flight_date,review_date
0,AB Aviation,9.0,True,Unknown,Solo Leisure,Economy Class,4.0,5.00,4.00,4.00,2.15,1.81,3.0,yes,1 month,Moroni,Moheli,False,November 2019,November 2019
1,AB Aviation,1.0,True,Others,Solo Leisure,Economy Class,2.0,2.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Moroni,Anjouan,False,June 2019,June 2019
2,AB Aviation,1.0,True,Others,Solo Leisure,Economy Class,2.0,1.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Anjouan,Dzaoudzi,False,June 2019,June 2019
3,Adria Airways,1.0,False,Unknown,Solo Leisure,Economy Class,1.0,1.00,2.56,1.00,2.15,1.81,1.0,no,1 month,Frankfurt,Pristina,True,September 2019,September 2019
4,Adria Airways,1.0,True,Unknown,Couple Leisure,Economy Class,1.0,1.00,1.00,1.00,1.00,1.00,1.0,no,1 month,Sofia,Amsterdam,True,September 2019,September 2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23847,ZIPAIR,1.0,False,Unknown,Couple Leisure,Economy Class,2.0,1.00,2.56,1.00,1.00,1.00,1.0,no,1 month,Bangkok,Tokyo,False,June 2022,July 2022
23848,ZIPAIR,1.0,True,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,2.36,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,False,June 2022,June 2022
23849,ZIPAIR,3.0,True,Unknown,Business,Economy Class,2.0,4.00,2.00,1.00,2.15,1.81,2.0,no,1 month,Bangkok,Tokyo,False,May 2022,May 2022
23850,ZIPAIR,6.0,True,Others,Business,Business Class,3.0,4.00,3.00,1.00,2.00,5.00,5.0,yes,1 month,Tokyo,Los Angeles,False,May 2022,May 2022
23851,ZIPAIR,1.0,True,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,1.00,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,False,May 2022,May 2022

In [16]:
#setting review date as date type and dropping flight date to keep only one time variable:
airlines_df2['review_date'] = pd.to_datetime(airlines_df2['review_date'], format = '%B %Y')
airlines_df2 = airlines_df2.drop(['flight_date'], axis=1)
airlines_df2

,airline_name,overall_rating,verified,aircraft,type_of_traveller,seat_type,seat_comfort,cabin_staff_service,food_beverages,ground_service,inflight_entertainment,wifi_connectivity,value_for_money,recommended,time_before_review,departure_place,arrival_place,delay_cancellation,review_date
0,AB Aviation,9.0,True,Unknown,Solo Leisure,Economy Class,4.0,5.00,4.00,4.00,2.15,1.81,3.0,yes,1 month,Moroni,Moheli,False,2019-11-01
1,AB Aviation,1.0,True,Others,Solo Leisure,Economy Class,2.0,2.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Moroni,Anjouan,False,2019-06-01
2,AB Aviation,1.0,True,Others,Solo Leisure,Economy Class,2.0,1.00,1.00,1.00,2.15,1.81,2.0,no,1 month,Anjouan,Dzaoudzi,False,2019-06-01
3,Adria Airways,1.0,False,Unknown,Solo Leisure,Economy Class,1.0,1.00,2.56,1.00,2.15,1.81,1.0,no,1 month,Frankfurt,Pristina,True,2019-09-01
4,Adria Airways,1.0,True,Unknown,Couple Leisure,Economy Class,1.0,1.00,1.00,1.00,1.00,1.00,1.0,no,1 month,Sofia,Amsterdam,True,2019-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23847,ZIPAIR,1.0,False,Unknown,Couple Leisure,Economy Class,2.0,1.00,2.56,1.00,1.00,1.00,1.0,no,1 month,Bangkok,Tokyo,False,2022-07-01
23848,ZIPAIR,1.0,True,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,2.36,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,False,2022-06-01
23849,ZIPAIR,3.0,True,Unknown,Business,Economy Class,2.0,4.00,2.00,1.00,2.15,1.81,2.0,no,1 month,Bangkok,Tokyo,False,2022-05-01
23850,ZIPAIR,6.0,True,Others,Business,Business Class,3.0,4.00,3.00,1.00,2.00,5.00,5.0,yes,1 month,Tokyo,Los Angeles,False,2022-05-01
23851,ZIPAIR,1.0,True,Unknown,Solo Leisure,Economy Class,2.6,2.87,2.56,1.00,2.15,1.81,1.0,no,1 month,Singapore,Tokyo,False,2022-05-01

In [17]:
airlines_df2.to_csv('data/airlines_for_Tableau.csv', index=False)